 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(255, 215, 0, 0.35), rgba(26,26,26,0.85)), url('images/ab.jpg'  );
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1016px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 0 138px 0 189px;
}

.u-section-1 .u-custom-html-1 {
  margin: 0 166px 0 224px;
}

.u-section-1 .u-shape-1 {
  will-change: transform, opacity;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 871px;
  margin: 39px 113px 11px auto;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 245px;
  grid-gap: 10px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 45px 30px 53px;
}

.u-section-1 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 900;
  margin: 26px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 45px 30px 53px;
}

.u-section-1 .u-text-5 {
  font-size: 4.5rem;
  font-weight: 900;
  margin: 26px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 45px 30px 53px;
}

.u-section-1 .u-text-7 {
  font-size: 4.5rem;
  font-weight: 900;
  margin: 26px auto 0;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 39px;
  margin-bottom: 44px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 243px;
}

.u-section-1 .u-container-layout-4 {
  padding-bottom: 0;
}

.u-section-1 .u-text-9 {
  margin: 20px 0 0 18px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 243px;
}

.u-section-1 .u-container-layout-5 {
  padding-bottom: 0;
}

.u-section-1 .u-text-10 {
  margin: 39px auto 0 7px;
}

.u-section-1 .u-text-11 {
  line-height: 0.7;
  font-weight: 400;
  margin: 24px 20px 0;
}

.u-section-1 .u-text-12 {
  margin: 15px auto 0 18px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 243px;
}

.u-section-1 .u-container-layout-6 {
  padding-bottom: 0;
}

.u-section-1 .u-text-13 {
  margin: 27px auto 0 28px;
}

.u-section-1 .u-social-icons-1 {
  width: 161px;
  height: 47px;
  min-width: 20px;
  margin: 15px auto 0;
}

.u-section-1 .u-text-14 {
  margin: 18px 0 0 68px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 38px;
    margin-left: 89px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    margin-right: 69px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 200px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 200px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 200px;
  }

  .u-section-1 .u-social-icons-1 {
    min-width: NaNpx;
  }

  .u-section-1 .u-text-14 {
    margin-left: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 623px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 697px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 748px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 697px;
  }
}